
<div class="u-overflow-x-auto">
    <table class="table table-wide" id="activiteiten">
        <tr>
            <th class="table-th text-h4">Activiteit</th>
            <th class="table-th text-h4">Type</th>
            <th class="table-th text-h4">Programma</th>
            <th class="table-th text-h4">Contactpersoon</th>
            <th class="table-th text-h4">Inzet van Technologie</th>
            <th class="table-th text-h4">Status</th>
        </tr>
        <tr class="table-tr">
            <td class="table-td text-body">
                <a href="{{ "/activiteiten/details" | relative_url }}?id=">Onderhoud Provinciale Wegen</a>
            </td>
            <td class="table-td text-body">
                Proces
            </td>
            <td class="table-td text-body">
                Verkeer en mobiliteit
            </td>
            <td class="table-td text-body">
                Jan de Aa
            </td>
            <td class="table-td text-body">
                Algoritme (1)
            </td>
            <td class="table-td text-body">
                actief
            </td>
        </tr>
        <tr class="table-tr">
            <td class="table-td text-body">
                <a href="{{ "/activiteiten/details" | relative_url }}?id=">Maximale Doorstroom</a>
            </td>
            <td class="table-td text-body">
                Project
            </td>
            <td class="table-td text-body">
                Verkeer en mobiliteit
            </td>
            <td class="table-td text-body">
                Wim Dee
            </td>
            <td class="table-td text-body">
                Sensoren (3), Algoritmes (2)
            </td>
            <td class="table-td text-body">
                gepland
            </td>
        </tr>
    </table>
</div>