<div class="table-block p-b6">
    <h2 class="text-h2 m-b2">Inzet algoritmes</h2>
    <p class="text-body m-b4">In dit project worden onderstaande algoritmes ingezet</p>
    <table class="table table-wide">
        <tr>
            <th class="table-th text-h4">Naam</th>
            <th class="table-th text-h4">Algoritme</th>
            <th class="table-th text-h4">Type</th>
            <th class="table-th text-h4">Status</th>
            <th class="table-th text-h4">Publicatie</th>
        </tr>
        <tr class="table-tr">
            <td class="table-td text-body">
                <a href="{{ "/algoritmes" | relative_url }}">Doorstroom voorspellen</a>
            </td>
            <td class="table-td text-body">
                Verkeersmodel PNB
            </td>
            <td class="table-td text-body">
                Voorspellend, Diagnostisch
            </td>
            <td class="table-td text-body">
                In gebruik
            </td>
            <td class="table-td text-body">
                Gepubliceerd
            </td>
        </tr>
        <tr class="table-tr">
            <td class="table-td text-body">
                <a href="{{ "/algoritmes" | relative_url }}">Nummerborden herkennen</a>
            </td>
            <td class="table-td text-body">
                RWS Beeldherkenning
            </td>
            <td class="table-td text-body">
                Voorspellend, Diagnostisch
            </td>
            <td class="table-td text-body">
                In gebruik
            </td>
            <td class="table-td text-body">
                Gepubliceerd
            </td>
        </tr>
    </table>
    <div class="p-t4">
        <a href="{{ "/algoritmes" | relative_url }}" class="btn btn-small text-body u-display-inline-block">+ Inzet registreren</a>
    </div>
</div>