<script type="text/html" id="template_sensorinzet_table_row">
    <tr class="table-tr">
        <td class="table-td text-body">
            <a href="{{ "/sensorinzet" | relative_url }}?id=<%=sensorinzet.id%>"><%=sensorinzet.name%></a>
        </td>
        <td class="table-td text-body">
            <%=sensorinzet.type%>
        </td>
        <td class="table-td text-body">
            <%=activiteit.status%>
        </td>
        <td class="table-td text-body">
            Gepubliceerd
        </td>
    </tr>
</script>