<script>
    var schemaUrl = "https://www.algoritmeregister.org/schemas/sensoren/pnb/organisatorische-activiteit.schema.json";
    fetch(schemaUrl)
        .then(response => response.json())
        .then(schema => {
            console.log(schema.properties);
            for (property in schema.properties) {
                console.log(property)
            }
        });
</script>
<form class="form-block p-b7">
    <input type="hidden" name="id" value="">


    <div class="form-item p-4 color-bg-neutral-2">
        <div class="m-b4 u-position-relative">
            <div class="form-item-nr text-h4 color-bg-brand-1 u-position-absolute p-x2 p-y1 color-neutral-1">1</div>
            <label class="form-item-nr-label text-h4">Naam</label>
        </div>
        <div class="p-l6">
            <p class="text-body m-b4">De naam van de organisatorische activiteit.</p>
            <input type="text" class="text-body form-item-input p-x3 p-y1" placeholder='Bijvoorbeeld "versturen maandelijkse nieuwsbrief"'>
        </div>
    </div>

    <div class="form-item p-4 color-bg-neutral-2">
        <div class="m-b4 u-position-relative">
            <div class="form-item-nr text-h4 color-bg-brand-1 u-position-absolute p-x2 p-y1 color-neutral-1">2</div>
            <label class="form-item-nr-label text-h4">Type</label>
        </div>
        <div class="p-l6">
            <div>
                <p class="text-body m-b4">Het type van de organisatorische activiteit.</p>
                <select class="p-y1 p-x2 form-item-select">
                    <option class="text-body">proces</option>
                    <option class="text-body">project</option>
                    <option class="text-body">overig</option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-item p-4 color-bg-neutral-2">
        <a href="#" class="btn u-display-inline-block text-body m-r4">Opslaan</a>
        <a href="{{ "/activiteiten" | relative_url }}" class="text-link u-display-inline-block">Annuleren</a>
    </div>
</form>