<form class="form-block p-b7">
    <h2 class="text-h2 m-b4">Activiteit toevoegen</h2>
    <input type="hidden" name="id" value="">
    {% include formElements/textinput.html %}
    
    <div class="form-item p-4 color-bg-neutral-2">
        <div class="m-b3">
            <div class="text-h4 color-bg-brand-1 u-display-inline-block p-x2 p-y1 color-neutral-1 m-r2">1
            </div> <label class="text-h4">Welke data kan helpen om deze vraag te beantwoorden?</label>
        </div>
        <textarea placeholder="Bijvoorbeeld een antwoord" class="text-body form-item-textarea p-3"></textarea>
    </div>
    <div class="form-item p-4 color-bg-neutral-2">
        <div class="m-b3">
            <div class="text-h4 color-bg-brand-1 u-display-inline-block p-x2 p-y1 color-neutral-1 m-r2">2
            </div> <label class="text-h4">Welke data kan helpen om deze vraag te beantwoorden?</label>
        </div>
        <div>
            <label class="m-b2 u-display-block u-cursor-pointer">
                <input type="checkbox" class="u-display-inline-block m-r1">
                <span class="text-body" class="u-display-inline-block">Optie A</span>
            </label>
            <label class="m-b2 u-display-block u-cursor-pointer">
                <input type="checkbox" class="u-display-inline-block m-r1">
                <span class="text-body" class="u-display-inline-block">Optie B</span>
            </label>
            <label class="m-b2 u-display-block u-cursor-pointer">
                <input type="checkbox" class="u-display-inline-block m-r1">
                <span class="text-body" class="u-display-inline-block">Optie C</span>
            </label>
        </div>
    </div>
    <div class="form-item p-4 color-bg-neutral-2">
        <div class="m-b3">
            <div class="text-h4 color-bg-brand-1 u-display-inline-block p-x2 p-y1 color-neutral-1 m-r2">3
            </div> <label class="text-h4">Welke data kan helpen om deze vraag te beantwoorden?</label>
        </div>
        <div>
            <label class="m-b2 u-display-block u-cursor-pointer">
                <input type="radio" name="group" class="u-display-inline-block m-r1">
                <span class="text-body" class="u-display-inline-block">Optie A</span>
            </label>
            <label class="m-b2 u-display-block u-cursor-pointer">
                <input type="radio" name="group" class="u-display-inline-block m-r1">
                <span class="text-body" class="u-display-inline-block">Optie B</span>
            </label>
            <label class="m-b2 u-display-block u-cursor-pointer">
                <input type="radio" name="group" class="u-display-inline-block m-r1">
                <span class="text-body" class="u-display-inline-block">Optie C</span>
            </label>
        </div>
    </div>
    <div class="form-item p-4 color-bg-neutral-2">
        <div class="m-b3">
            <div class="text-h4 color-bg-brand-1 u-display-inline-block p-x2 p-y1 color-neutral-1 m-r2">4
            </div> <label class="text-h4">Welke data kan helpen om deze vraag te beantwoorden?</label>
        </div>
        <div>
            <select class="p-y1 p-x2 form-item-select">
                <option class="text-body">Optie A</option>
                <option class="text-body">Optie B</option>
                <option class="text-body">Optie C</option>
            </select>
        </div>
    </div>
    <div class="form-item p-4 color-bg-neutral-2">
        <div class="m-b3">
            <div class="text-h4 color-bg-brand-1 u-display-inline-block p-x2 p-y1 color-neutral-1 m-r2">6
            </div> <label class="text-h4">Welke data kan helpen om deze vraag te beantwoorden?</label>
        </div>
        <input type="date" class="text-body form-item-date p-x3 p-y1">
    </div>
    <div class="form-item p-4 color-bg-neutral-2">
        <a href="#" class="btn u-display-inline-block text-body m-r4">Opslaan</a>
        <a href="{{ "/activiteiten" | relative_url }}" class="text-link u-display-inline-block">Annuleren</a>
    </div>
</form>