<div class="prop-block p-b6">
    <div class="w-75">
        <div class="prop p-5 color-bg-neutral-2">
            <div class="u-flex u-space-between">
                <div class="u-flex u-direction-column">
                    <div class="u-flex m-b3">
                        <div class="u-flex-1 text-h4">Contactpersoon</div>
                        <div class="u-flex-1 text-body">
                            Wim Dee<br>
                            Projectmanager<br>
                            Innovatielab, Provincie Noord-Brabant<br>
                            +31612345678<br>
                            <a href="#">wim.dee@brabant.nl</a>
                        </div>
                    </div>
                </div>
                <div class="">
                    <a href="{{ include.bewerken | relative_url | default: "#" }}" class="btn text-body">Bewerken</a>
                </div>
            </div>
        </div>
    </div>
</div>