<header class="header p-t2 color-bg-neutral-1">
    <div class="layout m-y4">
        <div class="layout-1">
            <div class="u-flex u-space-between u-align-center">
                <img src="{{ "/img/brabant.svg" | relative_url }}" class="header-logo">
                <h2 class="text-h3">{{ site.title }}</h2>
            </div>
        </div>
        <div class="layout-1">
            <div class="header-nav color-bg-brand-1">
                {% assign pages = site.pages | where_exp: "item", "item.nav_position != nil" | sort: "nav_position" %}
                {% for navPage in pages %}
                    <a href="{{ navPage.url | relative_url }}" class="header-nav-item {% if navPage.url == page.url or navPage.url == page.navGroup %}header-nav-item-active{% endif %} p-x4 color-neutral-1">{{ navPage.title }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</header>