<header class="header p-t2 color-bg-neutral-1">
    <div class="layout m-y4">
        <div class="layout-1">
            <div class="u-flex u-space-between u-align-center">
                <img src="{{ "/img/brabant.svg" | relative_url }}" class="header-logo">
                <h2 class="text-h3">{{ site.title }}</h2>
            </div>
        </div>
        <div class="layout-1">
            <div class="header-nav color-bg-brand-1">
                <a href="/" class="header-nav-item header-nav-item-active p-x4 color-neutral-1">Dashboard</a>
                <a href="/inzet" class="header-nav-item p-x4 color-neutral-1">Inzet</a>
                <a href="/sensoren" class="header-nav-item p-x4 color-neutral-1">Sensoren</a>
                <a href="/algoritmes" class="header-nav-item p-x4 color-neutral-1">Algoritmes</a>
                <a href="/design" class="header-nav-item p-x4 color-neutral-1">Design</a>
            </div>
        </div>
    </div>
</header>