<div class="cat-dropdown-block  p-y3">
    <div class="cat-header color-bg-neutral-2 p-4 u-flex u-space-between">
        <h3 class="text-h3">Algemene informatie</h3>
        <a href="#" class="cat-header-toggle">
            <img src="/img/plus.svg" class="cat-toggle-plus">
            <img src="/img/minus.svg" class="cat-toggle-minus">
        </a>
    </div>
    <div class="m-y2 cat-dropdown-block-prop">
        <div class="prop p-4">
            <div class="u-flex u-space-between u-direction-column u-md-direction-row">
                <div class="prop-column u-flex u-direction-column">
                    <div class="u-flex m-b3 u-direction-column u-md-direction-row">
                        <div class="u-flex-1 text-h4">Programma</div>
                        <div class="u-flex-1 text-body">Multimodale Bereikbaarheid</div>
                    </div>
                    <div class="u-flex m-b3 u-direction-column u-md-direction-row">
                        <div class="u-flex-1 text-h4">Contact</div>
                        <div class="u-flex-1 text-body">Johan G.</div>
                    </div>
                    <div class="u-flex m-b3 u-direction-column u-md-direction-row">
                        <div class="u-flex-1 text-h4">Email</div>
                        <div class="u-flex-1 text-body">johan@brabant.nl</div>
                    </div>
                </div>
                <div>
                    <a href="#" class="btn text-body">Bewerken</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cat-dropdown-block cat-dropdown-block-collapsed p-y3">
    <div class="cat-header color-bg-neutral-2 p-4 u-flex u-space-between">
        <h3 class="text-h3">Toepassing</h3>
        <a href="#" class="cat-header-toggle">
            <img src="/img/plus.svg" class="cat-toggle-plus">
            <img src="/img/minus.svg" class="cat-toggle-minus">
        </a>
    </div>
    <div class="m-y2 cat-dropdown-block-prop">
        <div class="prop cat-dropdown-block-collapsed">
            <div class="u-flex u-space-between u-direction-column u-md-direction-row">
                <div class="prop-column u-flex u-direction-column">
                    <div class="u-flex m-b3 u-direction-column u-md-direction-row">
                        <div class="u-flex-1 text-h4">Programma</div>
                        <div class="u-flex-1 text-body">Multimodale Bereikbaarheid</div>
                    </div>
                    <div class="u-flex m-b3 u-direction-column u-md-direction-row">
                        <div class="u-flex-1 text-h4">Contact</div>
                        <div class="u-flex-1 text-body">Johan G.</div>
                    </div>
                    <div class="u-flex m-b3 u-direction-column u-md-direction-row">
                        <div class="u-flex-1 text-h4">Email</div>
                        <div class="u-flex-1 text-body">johan@brabant.nl</div>
                    </div>
                </div>
                <div>
                    <a href="#" class="btn text-body">Bewerken</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cat-dropdown-block cat-dropdown-block-collapsed p-y3">
    <div class="cat-header color-bg-neutral-2 p-4 u-flex u-space-between">
        <h3 class="text-h3">Juridisch</h3>
        <a href="#" class="cat-header-toggle">
            <img src="/img/plus.svg" class="cat-toggle-plus">
            <img src="/img/minus.svg" class="cat-toggle-minus">
        </a>
    </div>
    <div class="m-y2 cat-dropdown-block-prop">
        <div class="prop cat-dropdown-block-collapsed">
            <div class="u-flex u-space-between u-direction-column u-md-direction-row">
                <div class="prop-column u-flex u-direction-column">
                    <div class="u-flex m-b3 u-direction-column u-md-direction-row">
                        <div class="u-flex-1 text-h4">Programma</div>
                        <div class="u-flex-1 text-body">Multimodale Bereikbaarheid</div>
                    </div>
                    <div class="u-flex m-b3 u-direction-column u-md-direction-row">
                        <div class="u-flex-1 text-h4">Contact</div>
                        <div class="u-flex-1 text-body">Johan G.</div>
                    </div>
                    <div class="u-flex m-b3 u-direction-column u-md-direction-row">
                        <div class="u-flex-1 text-h4">Email</div>
                        <div class="u-flex-1 text-body">johan@brabant.nl</div>
                    </div>
                </div>
                <div>
                    <a href="#" class="btn text-body">Bewerken</a>
                </div>
            </div>
        </div>
    </div>
</div>