
<form class="form-block p-b7" data-schema="https://www.algoritmeregister.org/schemas/sensoren/pnb/sensorengroep.schema.json">
    <input name="id" type="hidden">

    {% include formsections/textinput.html
        property="name"
        name="Naam"
        description="De naam van deze sensorengroep."
    %}

    {% include formsections/textarea.html
        property="beschrijving"
        name="Beschrijving"
        description="Een beschrijving van de sensorengroep."
    %}

    {% include formsections/contactpersoon.html prefix="contactpersoon." %}

    <div class="form-item p-4 color-bg-neutral-2">
        <a href="{{ include.opslaan | relative_url | default: "#" }}" class="btn u-display-inline-block text-body m-r4">Opslaan</a>
        <a href="{{ include.annuleren | relative_url | default: "#" }}" class="text-link u-display-inline-block">Annuleren</a>
    </div>
</form>