<!doctype html>
<html>

<head>
    {% include head.html %}
    <link rel="stylesheet" href="{{ "/css/out-of-bounds.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/css/adhoc.css" | relative_url }}">
</head>

<body class="color-bg-neutral-2">
    {% include header.html %}
    <div class="layout">
        <div class="layout-1">
            {{ content }}
        </div>
    </div>
    {% include footer.html %}
    <script src="{{ "/js/out-of-bounds.js" | relative_url }}"></script>
    <script src="{{ "/js/main.js" | relative_url }}"></script>
</body>

</html>