<div class="crumble-block p-y4">
	<div class="u-flex u-align-center">
        <a href="{{ "/activiteiten" | relative_url }}" class="text-body color-brand-3">Activiteiten</a>
        <span class="text-body color-brand-3 m-x1">&gt;</span>
        <span class="text-body">Verkeer en mobiliteit</span>
        <span class="text-body color-brand-3 m-x1">&gt;</span>
        <a href="{{ "/activiteiten/details" | relative_url }}" class="text-body color-brand-3">Maximale Doorstroom</a>
    </div>
    <h3 class="text-h3 m-y3">Inzet sensoren</h3>
    <h1 class="text-h1 m-y3">Blik op de Weg</h1>
    <p class="text-body m-b4"></p>
    <p class="text-body m-b4"></p>
</div>
<div class="prop-block p-b6">
    <div class="w-75">
        <div class="prop p-5 color-bg-neutral-2">
            <div class="u-flex u-space-between">
                <div class="u-flex u-direction-column">
                    <div class="u-flex m-b3">
                        <div class="u-flex-1 text-h4">Sensorgroep</div>
                        <div class="u-flex-1 text-body"><a href="{{ "/sensorgroepen/details" | relative_url }}">Wegcameranetwerk Provinciale Wegen</a></div>
                    </div>
                    <div class="u-flex m-b3">
                        <div class="u-flex-1 text-h4">Status</div>
                        <div class="u-flex-1 text-body">gepland</div>
                    </div>
                    <div class="u-flex m-b3">
                        <div class="u-flex-1 text-h4">Startdatum</div>
                        <div class="u-flex-1 text-body">2024-06-01</div>
                    </div>
                    <div class="u-flex m-b3">
                        <div class="u-flex-1 text-h4">Einddatum</div>
                        <div class="u-flex-1 text-body">2025-05-31</div>
                    </div>
                    <div class="u-flex m-b3">
                        <div class="u-flex-1 text-h4">Contactpersoon</div>
                        <div class="u-flex-1 text-body">
                            Wim Dee<br>
                            Projectmanager<br>
                            Innovatielab, Provincie Noord-Brabant<br>
                            +31612345678<br>
                            <a href="#">wim.dee@brabant.nl</a>
                        </div>
                    </div>
                </div>
                <div class="">
                    <a href="{{ "/inzet-sensoren/bewerken" | relative_url }}" class="btn text-body">Bewerken</a>
                </div>
            </div>
        </div>
    </div>
</div>