
<form class="form-block p-b7" data-schema="https://www.algoritmeregister.org/schemas/sensoren/pnb/sensorinzet.schema.json">
    <input name="id" type="hidden">

    <div class="form-item p-4 color-bg-neutral-2">
        <h2 class="text-h2 m-b2">Algemeen</h2>
    </div>

    {% include formsections/textinput.html
        property="name"
        name="Naam"
        description="Naam voor deze registratie."
    %}

    {% include formsections/textarea.html
        property="doel"
        name="Doel"
        description="Doel van de inzet van sensoren."
    %}

    {% include formsections/selectoptions.html
        property="thema"
        name="Thema"
        description="Thema-omschrijving voor de inzet van sensoren."
        options="verkeersveiligheid, milieu, auto"
    %}
        
    {% include formsections/dateinput.html
        property="geldig tot"
        name="Geldig tot"
        description="Deze registratie is geldig tot deze datum (YYYY-MM-DD)."
    %}

    {% include formsections/textinput.html
        property="wettelijke grondslag"
        name="Wettelijke grondslag"
        description="Wettelijke grondslag voor de inzet van de sensor."
    %}
        
    {% include formsections/dateinput.html
        property="niet tonen na"
        name="Niet tonen na"
        description="Datum waarna de registratie niet meer getoond mag worden (YYYY-MM-DD)."
    %}

    {% include formsections/textinput.html
        property="bewaartermijn"
        name="Bewaartermijn"
        description="Bewaartermijn van de registratie in maanden."
    %}

    <div class="form-item p-4 color-bg-neutral-2">
        <h2 class="text-h2 m-b2">Randvoorwaarden Maatschappelijke Meerwaarde</h2>
    </div>

    {% include formsections/textarea.html
        property="menselijke-maat"
        name="Menselijke maat"
        description="Is de menselijke maat geborgd?"
    %}

    {% include formsections/textarea.html
        property="correct-hergebruik"
        name="Correct (her)gebruik"
        description="Wordt de sensordata correct (her)gebruikt?"
    %}
    
    {% include formsections/textinput.html
        property="locatie-sensordata"
        name="Locatie sensordata"
        description="Link naar de locatie van de sensordata."
    %}

    {% include formsections/textarea.html
        property="bewuste-en-gerichte-inzet"
        name="Bewuste en gerichte inzet"
        description="Worden de sensoren bewust en gericht ingezet?"
    %}
        
    {% include formsections/textarea.html
        property="grondslag-of-beleidskader"
        name="Grondslag of beleidskader"
        description="Link naar wettelijke grondslag en/of beleidskader indien van toepassing."
    %}

    {% include formsections/textarea.html
        property="geregistreerd-en-geinformeerd"
        name="Geregistreerd en burgers geïnformeerd"
        description="Worden de sensoren geregistreerd en burgers geïnformeerd?"
    %}

    {% include formsections/textarea.html
        property="veilige-verwerking"
        name="Veilige verwerking"
        description="Wordt de sensordata veilig verwerkt en opgeslagen?"
    %}
    
    {% include formsections/textinput.html
        property="dpia"
        name="DPIA"
        description="Link naar de DPIA indien van toepassing."
    %}

    {% include formsections/contactpersoon.html title="Opdrachtgever" prefix="opdrachtgever" %}

    {% include formsections/contactpersoon.html title="Gebruiker" prefix="gebruiker" %}

    <div class="form-item p-4 color-bg-neutral-2">
        <a href="{{ include.opslaan | relative_url | default: "#" }}" class="btn u-display-inline-block text-body m-r4">Opslaan</a>
        <a href="{{ include.annuleren | relative_url | default: "#" }}" class="text-link u-display-inline-block">Annuleren</a>
    </div>
</form>