<div class="table-block p-b6">
    <h2 class="text-h2 m-b2">Inzet sensoren</h2>
    <p class="text-body m-b4">In dit project worden onderstaande sensoren ingezet</p>
    <table class="table table-wide">
        <tr>
            <th class="table-th text-h4">Naam</th>
            <th class="table-th text-h4">Sensorgroep</th>
            <th class="table-th text-h4">Type</th>
            <th class="table-th text-h4">Status</th>
        </tr>
        <tr class="table-tr">
            <td class="table-td text-body">
                <a href="{{ "/inzet-sensoren/details" | relative_url }}">Blik op de Weg</a>
            </td>
            <td class="table-td text-body">
                <a href="{{ "/sensorgroepen/details" | relative_url }}">Wegcameranetwerk Provinciale Wegen</a>
            </td>
            <td class="table-td text-body">
                Camera
            </td>
            <td class="table-td text-body">
                In gebruik
            </td>
        </tr>
        <tr class="table-tr">
            <td class="table-td text-body">
                <a href="{{ "/inzet-sensoren/details" | relative_url }}">Zicht op Wachtrijen</a>
            </td>
            <td class="table-td text-body">
                <a href="{{ "/sensorgroepen/details" | relative_url }}">iVRI netwerk</a>
            </td>
            <td class="table-td text-body">
                Objectsensor
            </td>
            <td class="table-td text-body">
                In gebruik
            </td>
        </tr>
        <tr class="table-tr">
            <td class="table-td text-body">
                <a href="{{ "/inzet-sensoren/details" | relative_url }}">Wegtellingen</a>
            </td>
            <td class="table-td text-body">
                <a href="{{ "/sensorgroepn/details" | relative_url }}">Tellussen</a>
            </td>
            <td class="table-td text-body">
                Druksensor
            </td>
            <td class="table-td text-body">
                In gebruik
            </td>
        </tr>
    </table>
    <div class="p-t4">
        <a href="{{ "/inzet-sensoren/registreren" | relative_url }}" class="btn btn-small text-body u-display-inline-block">+ Inzet registreren</a>
    </div>
</div>